<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    
    <h1>Hola A todos bienvenidos a mi Pagina</h1>

    <!-- title -variable proveniente de app.py -->
    <h2>{{ title }}</h2>

    <!-- nombres - una variable de tipo list proveniente de app.py -->

    {% for nombre in nombres  %}
    <li>{{ nombre }}</li>
    {% endfor %}

    <img src="https://images.ctfassets.net/j3p2t3c1h19y/20rXWIpny7SL84AilmpfMX/f7e4617907301e220cfba14dfaeeb4e7/PAM_ALL_AD05_PE02__2_.webp?fm=webp&q=70" alt="">

</body>
</html>